<!DOCTYPE html>
<html ng-app="denkoApp">
<head lang="en">
    <!-- Metadata stuff -->
    <meta charset="UTF-8">
    <title>Denko-Board</title>
    <link rel="icon" type="image/png" href="Images/Favicons/favicon.ico">
    <!-- Style stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="denkoStyle.css">
    <!-- Script stuff -->
    <script src="angular.js"></script>
    <script src="denkoApp.js"></script>
    <script src="./socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect(window.location.origin);
    </script>
</head>
<body class="container-fluid">
    <section id="info" class="col-xs-12 col-md-6 col-lg-4 col-lg-push-4" ng-controller="infoController">
        <section ng-click="test()" id="title" ng-init="tick()">
            <h1>Denko-Board</h1>
            <span>Maverick Image</span>
            <span>{{ clock  | date:'medium'}}</span>
        </section>
        <section id="announcements">
            <h2>Announcements</h2>
            <ul>
                <li ng-repeat="announcement in announcements">
                    <h3>{{announcement.title}}</h3>
                    <p>{{announcement.value}}</p>
                </li>
            </ul>
        </section>
        <section id="contactInformation">
            <h2>Contact Information</h2>
            <ul>
                <li ng-repeat="contact in contacts">
                    <span>{{contact.title}}</span>
                    <span>{{contact.value}}</span>
                </li>
            </ul>
        </section>
    </section>
    <section id="musicList" class="col-xs-12 col-md-6 col-lg-4 col-lg-pull-4" ng-controller="musicController">
        <ul>
            <li ng-repeat="song in songs">
                <p>Track: {{song.title}}</p>
                <p>Artist: {{song.artist}}</p>
                <img ng-show="song.albumArt" ng-src="{{song.albumArt}}">
            </li>
        </ul>
    </section>
    <section id="weather" class="col-xs-12 col-lg-4" ng-controller="weatherController">
        <ul class="container-fluid" ng-show="weather.currently">
            <li class="row weatherList">
                <ul class="col-xs-6">
                    <li>Time: {{weather.currently.time}}</li>
                    <li>Temperature: {{weather.currently.temperature}} &#8457;</li>
                    <li>Conditions: {{weather.currently.conditions}}</li>
                </ul>
                <span class="col-xs-6">
                    <img ng-src="{{weather.currently.image}}">
                </span>
            </li>
            <li class="row weatherList" ng-repeat="hour in weather.hourly">
                <ul class="col-xs-6">
                    <li>Time: {{hour.time}}</li>
                    <li>Temperature: {{hour.temperature}} &#8457;</li>
                    <li>Conditions: {{hour.conditions}}</li>
                </ul>
                <span class="col-xs-6">
                    <img ng-src="{{hour.image}}">
                </span>
            </li>
        </ul>
    </section>
    <section id="news" class="hidden-xs col-md-12" ng-controller="newsController">
        <marquee behavior="scroll" direction="left"  scrollamount="1" scrolldelay="20" truespeed="true"><span ng-repeat="temp in news">{{temp.title}} - {{temp.source}} | </span></marquee>
    </section>
</body>
</html>