<!DOCTYPE html>
<html ng-app="denkoAngular">
<head lang="en">
    <!-- Metadata stuff -->
    <meta charset="UTF-8">
    <title>denkoBoard</title>
    <!-- Style stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="CSS/normalize.css">
    <link rel="stylesheet" href="CSS/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/customStyle.css">
    <!-- Script stuff -->
    <script src="JS/angular.js"></script>
    <script src="JS/denkoAngular.js"></script>
    <script src="JS/denko.js"></script>
    <script src="./socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect(window.location.origin);
    </script>
</head>
<body class="container-fluid" onload="initialize()">
    <section id="info" class="col-xs-12 col-md-6 col-lg-4 col-lg-push-4" ng-controller="infoController as info">
        <section id="title">
            <h1>Denko Board</h1>
            <span>Maverick Image</span>
            <span onclick="test()">Time <span id="time"></span></span>
        </section>
        <section id="announcements">
            <ul>
                <li ng-repeat="announcement in info.announcements">
                    <h2>{{announcement.title}}</h2>
                    <p>{{announcement.comment}}</p>
                </li>

            </ul>
        </section>
        <section id="contactInformation">
            <h2>Contact Information</h2>
            <ul>
                <li ng-repeat="contact in info.contactInformation">
                    <span>{{contact.type}}</span>
                    <span>{{contact.value}}</span>
                </li>
            </ul>
        </section>
    </section>
    <section id="musicList" class="col-xs-12 col-md-6 col-lg-4 col-lg-pull-4" ng-controller="musicController as music">
        <ul>
            <li ng-repeat="song in music.songs">
                <p>Track: {{song.title}}</p>
                <p>Artist: {{song.artist}}</p>
                <img ng-show="song.albumArt" ng-src="{{song.albumArt}}">
            </li>
        </ul>
    </section>
    <section id="weather" class="col-xs-12 col-lg-4" ng-controller="weatherController as weather">
        <ul >
            <li>{{weather.weather}}
                <p>Time: {{weather.weather.currentWeather.time}}</p>
                <p>Temperature: {{weather.weather.currentWeather.temperature}}</p>
                <p>Conditions: {{weather.weather.currentWeather.conditions}}</p>
                <img ng-show="weather.weather.currentWeather.conditionsImage" ng-src="{{weather.weather.currentWeather.conditionsImage}}">
            </li>
            <li ng-repeat="hour in weather.weather.hours">
                <p>Time: {{hour.time}}</p>
                <p>Temperature: {{hour.temperature}}</p>
                <p>Conditions: {{hour.conditions}}</p>
                <img ng-show="hour.conditionsImage" ng-src="{{hour.conditionsImage}}">
            </li>
        </ul>
    </section>
    <section id="news" class="hidden-xs col-md-12">
        <span>News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News </span>
    </section>
</body>
</html>